
dl.portletNavigationTree {
  padding-bottom: 0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

dl.portletNavigationTree dd.portletItem ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl.portletNavigationTree dd.portletItem li ul {
  padding: 0;
  margin: 0;
  padding-left: 14px;
}

dl.portletNavigationTree dd.portletItem {
  border: none;
}

dl.portletNavigationTree dd.portletItem ul li a {
  display: block;
  margin: 0;
}

dl.portletNavigationTree dd.portletItem ul li a img {
  vertical-align: text-top;
}

ul#portal-sitemap {
  margin: 1em 0;
}

ul#portal-sitemap li {
  margin: 0.5em 0;
}

ul#portal-sitemap li a {
  display: block;
  padding: 0.1em 0;
}

.navTreeItem {
  display: block;
}
